.container {
  padding: 0 2rem;
}

.main {
  min-height: 50vh;
  padding: 1rem 0 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #23272A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.ergonationlogoNav {
    z-index: 20;
    filter: invert(25%) sepia(99%) saturate(1781%) hue-rotate(140deg) brightness(94%) contrast(102%);
}

.ergonationlogoNav:hover{
  filter: brightness(0%);
}

.filtergreen{
  filter: invert(25%) sepia(99%) saturate(1781%) hue-rotate(140deg) brightness(94%) contrast(102%);
}

.navbutton {
  background: none;
  font-size: 100rem;
}

.title a,
.titleSmall a{
  color: #018749;
  text-decoration: none;
}

.NavButton a{
  text-decoration: none;
}

.title {
  margin: 2rem 0 0.5rem 0;
  line-height: 1.15;
  font-size: 3rem;
}

.titleSmall{
  margin: 1.5rem 0 0.5rem 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description,
.titleSmall {
  text-align: center;
}

.description {
  margin: 0 0 1rem 0;
  line-height: 1;
  font-size: 1rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 2em;
  margin-left: 0.5rem;
}

.ergologo{
  margin-top: 0.4em;
}

.ergonationlogo{
  margin: 2rem 0 0 0;
}

.numberlist{
  counter-reset: list-number;
  justify-content: left;
  max-width: 50rem ;
}

.numberlist h3:before{
  counter-increment: list-number;
  content:  counter(list-number);
  margin-right: 10px;
  margin-bottom:10px;
  width:35px;
  height:35px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  font-size:16px;
  background-color:#018749;
  border-radius:50%;
  color:#fff;
}

.listItems{
    margin: -1rem 0 0 4rem;
}

.listItems a {
  color: #018749;
  text-decoration: none;
}

.listItems a:hover,
.listItems a:focus,
.listItems a:active {
  text-decoration: underline;
}

.previousUserText a {
  color: #018749;
  text-decoration: none;
}

.previousUserText a:hover,
.previousUserText a:focus,
.previousUserText a:active {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.downloadButton a {
  text-decoration: none;
}

.quizContainer{
  border: 1px solid #eaeaea;
}

.quizQuestionBox{
  display: flex;
  margin: 1rem;
}

.quizQuestion{
  width: 94%;
}

.quizTimer{
  justify-content: right;
}

.quizOptions{
  margin: 1rem;
}
